project:
  type: book

bibliography: dxi-skript.bib

execute: 
  freeze: auto

lang: de
# Change labels that are not properly changed by the language
crossref:
#   fig-prefix: Abbildung   # (default is "Figure")
#   tbl-prefix: Tabelle    # (default is "Table")
  eq-prefix: Formel # (default is "Equation")
  prp-title: Satz
#   sec-prefix: Abschnitt # (default is "Section")

book:
  title: Einführung in die Datenwissenschaft mit R
  author: 
  - name: Christian Glahn
  page-navigation: true

  repo-url: https://github.com/dxiai/dxi-r
  repo-actions: 
  - issue

  chapters:
  - index.qmd
  # - vorwort.qmd
 
  - kapitel/einleitung/kapitel.md
  - kapitel/tool-chain/installation.md
  - kapitel/tool-chain/hilfe.md
  - kapitel/tool-chain/language.md
 
  - part: "Datenquellen"
    chapters:
    # Datendokumente 
    - kapitel/daten-organisieren/kapitel.md
    - kapitel/datentypen/kapitel.md
    # - kapitel/datenstrukturen/kapitel.md
    
    - kapitel/daten-importieren-exportieren/kapitel.md

    # - kapitel/externe-datenquellen/kapitel.md
 
  - part: "Mathematik der Daten"
    chapters:
    - kapitel/variablen/kapitel.qmd
    - kapitel/zeichenketten/kapitel.md
    - kapitel/faktoren/kapitel.qmd
    - kapitel/boolsche-operationen/kapitel.qmd
    - kapitel/vektor-operationen/kapitel.qmd
    - kapitel/matrix-operationen/kapitel.qmd
    - kapitel/indizieren-gruppieren/kapitel.qmd
    - kapitel/daten-kodieren/kapitel.md
    - kapitel/daten-formen/kapitel.md

  - part: "Deskriptive Datenanalyse"
    chapters:
   
    - kapitel/daten-beschreiben/kapitel.md
    - kapitel/daten-visualisieren/kapitel.qmd
    # - kapitel/lineare-modelle/kapitel.md
    
  - references.qmd

format:
  html:
    theme: cosmo
    toc: true
    html-math-method: katex
  pdf:
    papersize: a4

csl: _contrib/apa.csl
